<table class="table table-hover">
  <thead>
  <tr>
    <th>#ID</th>
    <th>Название товара</th>
    <th>Цена закуп</th>
    <th>Цена</th>
    <th>&nbsp;</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of productsArr">
    <td><a [title]="item._id">{{item._id | mongoid}}</a> </td>
    <td>{{item.name}}</td>
    <td>{{item.buyingPrice}}</td>
    <td>{{item.sellingPrice}}</td>
    <td>
      <button class="btn btn-sm btn-primary" (click)="edit(item)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
      <button class="btn btn-sm btn-warning" (click)="delete(item)"><i class="fa fa-trash" aria-hidden="true"></i></button>
    </td>

  </tr>
  </tbody>
</table>
<h3 *ngIf="productsArr.length == 0">В данном разделе нет товаров</h3>
